.App {
  /* background-image: linear-gradient(#282c34 0%, #5276bd 100%); */
  /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
}



.App-header {
  /* background-color: #282c34; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 64px;
}

.App-header h1{
  color: #8593b1;
}

.App-link {
  color: #61dafb;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  margin-top: 2rem;
}

